@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,500&family=EB+Garamond:wght@600;700;800&family=Lato:ital@1&family=Playfair:ital,wght@0,300;0,400;0,800;1,300;1,500;1,800&family=Spectral:ital,wght@0,800;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Playfair', serif;

}

#navbar{
    background-color: white;
    position: sticky;
    top: 0; right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    box-shadow: 0 -2px 4px black;
    z-index: 111;
    
}

/* #logo{
    width: 200px;
    /* margin-bottom: 5px; */
    /* margin-top: -20px; */
/* } */ */
.navbar-nav{
    margin-left: 20px;
    font-weight: bold;
}

/* .navbar-toggler span{
    color: cornflowerblue;
} */
.navbar-nav{
    display: flex;
}

.navbar-nav li a{
    font-size: 17px;
    margin: 0 25px;
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
    
}

.navbar-nav li a::before{
    content: '';
    position: absolute;
    background: black;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 0%;
    transition: .2s ease;
}

.navbar-nav li a:hover:before{
    width: 100%;
}
#logo img{
    width: 100px;
}

.nav-icons a i{
    font-size: 22px;
    margin: 0 10px;
    color: black;
}

/* .nav-item .nav-link{
    font-size: 18px;
    font-weight: 600;
    color: blue;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    margin-top: -20px;
} */

.home{
    width: 100%;
    height: 95vb;
    background-image: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h1{
    color: darkgreen;
    font-size: 70px;
    font-weight: 600;
    margin-top: 5px;

}

.home .content p{
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 5px;
}
.home .content a{
    padding: 10px;
    background-color: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;

}
.home .content a:hover{
    background-color: darkgreen;
    color: white;
}

@media (max-width:850px){
    .home{
        background-position: 50%;
     }
}
@media (max-width:450px){
    .home .content h1{
        font-size: 25px;
    }
    .home .content p{
        font-size: 13px;
    }

}


.products {
    padding: 50px 0;

}
.products .p-content{
    align-self: center;
    color: darkblue;
    font-weight: bolder;
    
    
    
}
.products .image{
    max-height: 250px;
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
    margin: 10px 0;
    margin-left: 590px;
    margin-top: -70px;
    
    
}
.products .image img{
    object-fit: cover;
    width: 60%;
    transition: .4s ease-in-out;
}

.products .image:hover img{
    width: 50%;
}

.p-content h3 h5{
    margin-top: 500px;
    
}
.p-content h3{
    font-size: 24px;
}

.heading{
    text-align: center;
    color: black;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: black;
    font-size: 1.7rem;
    box-shadow: 0 0.5rem 1rem black;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .1rem;
    background: lightcoral;
    color: black;
}


.shop{
    color: white;
}

.shop .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
}
.shop .box-container .box{
    text-align: center;
    background: white;
    border: 0.2rem solid rgb(47, 45, 45);
    box-shadow: 0 0.5rem 1rem black;
}

.shop .box-container .box:hover .img img{
    transform: scale(1.1);
}

.shop .box-container .box:hover .img .icons{
    transform: translateX(0rem);
} 

.shop .box-container .box .img{
    position: relative;
    overflow: hidden;
}
.shop .box-container .box .img img{
    height: 20rem;
    width: 15rem;
}

.shop .box-container .box .img .icons{
    position: absolute;
    top: 1rem;
    left: 2rem;
    transform: translateX(-10rem);
    /* margin-top: -100px; */
}
.shop .box-container .box .img .icons a{
    display: block;
    text-decoration: none;
    height: 4rem;
    width: 3rem;
    line-height: 2.5rem;
    font-size: 1.7rem;
    color: black;
    border-radius:1rem solid black;
    box-shadow: 0 0.5rem 1rem black;
    margin-top: 1rem;
    
}
.shop .box-container .box .img .icons a:hover{
    color: white;
    background: lightcoral;
}
.shop .box-container .box .content{
    padding: 2rem;
}
.shop .box-container .box .content h3{
    font-size: 25px;
    color: darkblue;
    padding-bottom: .5rem;
    font-weight: normal;
}
.shop .box-container .box .content .price{
    font-size: 20px;
    font-weight: bolder;
    color: lightcoral;
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .img{
    flex: 1 1 42rem;
    padding-bottom: 5rem;
    padding-right: 5rem;
}

.about .img img{
    width: 100%;
    box-shadow: 4rem 4rem 0 #eee;
}

.about .content{
    flex: 1 1 42rem;
}

.about .content .box{
    padding: 3rem;
    background: #eee;

}

.about .content .box h3{
    font-size: 2.1rem;
    color: black;
}

.about .content .box p{
    padding: 1rem 0;
    line-height: 2;
    color: #666;
    font-size: 1.2rem;
}

.about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2rem;
}

.about .content .icons-container .icons{
    flex: 1 1 1rem;
    background: #eee;
    padding: 1rem;
    text-align: center;
}

.about .content .icons-container .icons i{
    color: lightcoral;
    margin-bottom: 1rem;
    font-size: 2rem;

}
.about .content .icons-container .icons p{
    font-size: 1.1rem;
    color: #666;
}

.shop .headings{
    color: black;
    margin-bottom: 3rem;
    font-size: 2.3rem;
    margin-left: 100px;
    font-weight: bold;

}
.logo-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
    gap: 30px;
}
.logos img{
    width: 300px;
    min-width: 80px;
    object-fit: contain;
}

.gallery{
    align-items: center;
    background-color: aliceblue;
    margin-top: 4rem;
    
}
.gallery .content{
    align-self: center;
    padding: 4rem;
    max-width: 450px;
}
.gallery h2{
    color: black;
}
.gallery-images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
}
.gallery-images img{
    max-height: 250px;
    object-fit: cover;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    background-color: aliceblue;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color: black;
    padding: 1rem 0;
}
.footer .box-container .box .link{
    padding: 1rem 0;
    font-size: 1.4rem;
    color: black;
    display: block;

}
.footer .box-container .box .link i{
    padding-right: .5rem;
    color: lightcoral;
}
.footer .box-container .box .link:hover{
    color: lightcoral;
}
.footer .box-container .box .link:hover i{
    padding-right: 2rem;
}
.footer .box-container .box .share{
    margin-top: 2rem;
}
.footer .box-container .box .share a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #eee;
    text-align: center;
    color: black;
    margin-right: .5rem;
    text-decoration: none;
}
.footer .box-container .box .share a:hover{
    color: white;
    background: lightcoral;
}
.footer .box-container .box p{
    padding: 1rem 0;
    font-size: 1.7rem;
    color: #666;
}
.footer .box-container .box form .email{
    border: 0.2rem solid black;
    width: 100%;
    padding: 1.2rem 1.4rem;
    text-transform: none;
    color: #666;
    margin: 1rem 0;
    font-size: 1.6rem;
}

.footer .credit{
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
    margin-top: 3rem;
    font-size: 1.3rem;
    border-top: 0.2rem solid black;
    color: #666;
}





































/* @media only screen and (min-width: 768px) and (max-width: 991px){
    .carousel-caption{
        bottom: 370px;
    }
    .carousel-caption p{
        width: 100%;
    }
} */

@media only screen and (max-width: 767px){
    /* .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17px;
    }
    .carousel-caption a{
        padding: 10px 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    } */
    .navbar .logo{
        margin-left: -100px;
    }
    .products .image{
        margin-left: 150px;
        width: 100%;
    }



}




